/***
FONT STACK VARIABLES
***/
$sanserifStack: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$serifStack: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
/*****
COLOR VARIABLES
*****/
$liteblue: #C7F7FF;
$midblue: #89C0C9;
$dblue: #3a5E63;
$litebrown: #C9A689;
$dbrown: #7C593C;
$litegrey: #d4d4d4;
$dgrey: #222;
$whiteB : #fff;
$locale: (focal,$litebrown,$dbrown), (content1,$whiteB,$dgrey), (content2,$liteblue,$dblue), (footer, $whiteB, $litegrey);