// main SASS file/***********************************************
@import "variables";
@import "mixins";
//DEFAULTS********************************************************
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}

html {
    font-size: 16px;
    font-family: $sanserifStack;
    /* default for whole page */
    line-height: 1.6;
}

h1, h2, h3, h4 {
    font-family: $serifStack;
    /* serif for the headings */
}

ul {
    list-style: none;
}


/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}


/***********************************************
                LAYOUT
***********************************************/

.bg-header {
    background-color: $whiteB;
    background-color: $liteblue;
    color: $dgrey;
    border-bottom: 1rem solid $midblue;
    border-top: 1rem solid $dblue;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 30%;
        height: 1rem;
        background-color: $dblue;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

@each $name, $bgcolor, $color in $locale {
    .bg-#{$name} {
        @include background-mixin ($bgcolor,$color);
    }
}

header {
    width: 400px;
    /* default */
    margin: 0 auto;
    position: relative;
    h1 {
        width: 100%;
        padding: 0 2rem;
    }
    nav {
        width: 100%;
        > ul li {
            width: 100%;
            float: none;
        }
    }
}

section {
    &.focal {
        width: 400px;
        /* default */
        margin: 0 auto;
    }
    &.content1,
    &.content2 {
        padding: 2rem 0;
    }
}

.row {
    clear: both;
}

.col-2 {
    width: 50%;
    float: left;
    padding-bottom: 2rem;
    border-left: 1px solid $dblue;
    margin-bottom: 2rem;
}

footer {
    .col-2:first-child {
        border-left: 0;
    }
    padding: 2rem 0;
    p:last-child {}
}


/***********************************************
                NAVIGATION
***********************************************/

header {
    nav {
        padding: 2rem 0;
        clear: both;
        > ul > li > a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: $dgrey;
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border: 1px solid $litegrey;
            border-bottom: none;
            padding: 1.0rem 2rem;
            line-height: 1;
            background-color: $whiteB;
            &:hover {
                font-weight: 700;
                color: $dbrown;
            }
        }
    }
    h1 {
        color: $dbrown;
        letter-spacing: 0.1rem;
        i.fa-lg {
            display: block;
            width: 25%;
            float: left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $litebrown;
            ~ span {
                float: right;
                width: 75%;
                font-size: 3.998rem;
                /**
        2 lines of 3.998 * 1.6 = 12.7936
        **/
                padding-left: 1rem;
                text-align: right;
            }
        }
    }
}


/***********************************************
                CONTENT
***********************************************/

.focal {
    h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }
    .author {
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}

.content1 {
    h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;
        i {
            vertical-align: middle;
            padding-right: 2rem;
        }
    }
    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 2rem;
    }
}

.content2 {
    h3 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }
    h4 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
    }
    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }
    li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
    }
}


/***********************************************
                FOOTER
***********************************************/

footer {
    h4 {
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $dbrown;
    }
    p {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $dgrey;
    }
    .fa-circle {
        color: $dgrey;
    }
    h4 {
        &[lang=de] {
            display: block;
        }
        &[lang=en],
        &[lang=ar],
        &[lang=ru] {
            display: none;
        }
    }
}


/***********************************************
                MEDIA QUERIES
***********************************************/

-

@media all and (min-width: 901px) and (max-width: 1400px) {
    header {
        width: 900px;
        margin: 0 auto;
        &:before,
        &:after {
            width: 300px;
        }
        h1 {
            width: 100%;
            color: $dblue;
            i.fa-lg {
                display: inline;
                color: $dblue;
                vertical-align: baseline;
                float: none;
                font-size: 4rem;
                line-height: 6.3968rem;
                ~ span {
                    float: none;
                    letter-spacing: 0.25rem;
                    font-size: 3.998rem;
                    /**
          1 lines of 3.998 * 1.6 = 6.3968
          **/
                    text-align: left;
                }
            }
        }
        nav {
            position: static;
            clear: both;
            width: 100%;
            padding: 0;
            > ul > li {
                width: 20%;
                float: left;
                background-color: $whiteB;
                > a {
                    font-size: 1rem;
                    line-height: 2rem;
                    min-height: 2rem;
                    border: none;
                    border-left: 1px solid $litegrey;
                    padding: 0 1.0rem;
                    margin: 1.0rem 0;
                    background-color: $whiteB;
                }
                &:first-child a {
                    border-left: none;
                }
            }
        }
    }
    section {
        &.focal,
        &.content1,
        &.content2 {
            width: 900px;
            margin: 0 auto;
        }
    }
    footer {
        width: 900px;
        margin: 0 auto;
    }
    section.focal {
        h2,
        p.author {
            width: 600px;
            margin: 0 auto;
        }
    }
    .col-3 {
        float: left;
        width: 30%;
        margin-left: 5%;
        &:first-child {
            margin-left: 0;
        }
    }
    .col-4 {
        width: 22%;
        margin-left: 4%;
        float: left;
        &:first-child {
            margin-left: 0;
        }
    }
    section {
        &.content1 h3 {
            font-size: 1.999rem;
            font-weight: 100;
            .fa-2x {
                font-size: 1.999rem;
                padding-right: 1rem;
            }
        }
        &.content2 {
            h4,
            li {
                font-size: 1.414rem;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
    footer {
        .fa-circle {
            color: $litebrown;
        }
        h4 {
            &[lang=ru] {
                display: block;
            }
            &[lang=de],
            &[lang=ar],
            &[lang=en] {
                display: none;
            }
        }
    }
}

@media all and (min-width: 1401px) {
    header {
        width: 1400px;
        margin: 0 auto;
        &:before,
        &:after {
            width: 450px;
        }
        h1 {
            width: 100%;
            color: $dbrown;
            i.fa-lg {
                display: inline;
                color: $dbrown;
                vertical-align: baseline;
                float: none;
                font-size: 4rem;
                line-height: 6.3968rem;
                ~ span {
                    float: none;
                    letter-spacing: 0.25rem;
                    font-size: 3.998rem;
                    /**
          1 lines of 3.998 * 1.6 = 6.3968
          **/
                    text-align: left;
                }
            }
        }
        nav {
            position: static;
            clear: both;
            width: 100%;
            padding: 0;
            > ul > li {
                width: 20%;
                float: left;
                background-color: $whiteB;
                > a {
                    font-size: 1.414rem;
                    line-height: 2rem;
                    min-height: 2rem;
                    border: none;
                    border-left: 1px solid $litegrey;
                    padding: 0 1.0rem;
                    margin: 1.0rem 0;
                    background-color: $whiteB;
                }
                &:first-child a {
                    border-left: none;
                }
            }
        }
    }
    section {
        &.focal,
        &.content1,
        &.content2 {
            width: 1400px;
            margin: 0 auto;
        }
    }
    footer {
        width: 1400px;
        margin: 0 auto;
    }
    section.focal {
        h2 {
            font-size: 3.998rem;
            width: 600px;
            margin: 0 auto;
        }
        p.author {
            width: 600px;
            margin: 0 auto;
        }
    }
    .col-3 {
        float: left;
        width: 30%;
        margin-left: 5%;
        &:first-child {
            margin-left: 0;
        }
    }
    .col-4 {
        width: 22%;
        margin-left: 4%;
        float: left;
        &:first-child {
            margin-left: 0;
        }
    }
    section {
        &.content1 h3 {
            font-size: 2.827rem;
            font-weight: 100;
            .fa-2x {
                font-size: 2.827rem;
                padding-right: 1rem;
                vertical-align: middle;
            }
        }
        &.content2 {
            h4,
            li {
                font-size: 1.999rem;
            }
            p {
                font-size: 1.414rem;
                font-weight: 400;
            }
        }
    }
    footer {
        p {
            font-size: 1.414rem;
            letter-spacing: 0.2rem;
            &:last-child {
                color: $litegrey;
            }
        }
        .fa-circle {
            color: $midblue;
        }
        h4 {
            &[lang=en] {
                display: block;
            }
            &[lang=de],
            &[lang=ar],
            &[lang=ru] {
                display: none;
            }
        }
    }
}